/* form section */

.form .container {
    width: 70%;
}

.form {

}

.form-content {
    overflow: hidden;

}

.form-item {
    width: 30%;
    float: left;
    text-align: center;
    margin-bottom: 70px;

}

.form-item.mg {
    margin: 0px 5%;
}

.form-item i {
    color: darkcyan;
    font-size: 32px;
    margin: auto;

}

.form-title {
    font-weight: bold;
    font-size: 25px;
    margin: 15px 20px;
    padding-bottom: 5px ;
    text-transform: capitalize;

}

.form-text {
    color: #999;
    font-size: 17px;
    margin: auto;
}

.form-info {
    padding: 0 50px;
}

.form-one {
    text-align: center;
}

.form-input {
    margin: 0px 20px;
    width: 400px;
    height: 40px;
    border: 0;
    padding: 0px 10px;
    font-size: 16px;
    color: #333;
}

.form-two {
    text-align: center;
} 

.form-subject {
    margin: 20px 20px;
    display: block;
    margin-left: 175px;
    width: 845px;
    height: 40px;
    border: 0;
    padding: 0px 10px;
    font-size: 16px;
    color: #333;
}

.form-subject.message {
    height: 70px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.form-button  {
    display: inline-block;
    margin: 0px 42%;
    padding: 15px 50px;
   text-decoration: none;
   color: #fff;
   background-color: darkcyan;
   border: 0;
   border-radius: 3px;
   color: #fff;   

}

.form-button a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
}


.form-button:hover {
    background-color: cadetblue;
    transition: 0.3s;
}
